DB_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=
DB_DIALECT=
JWT_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
GOOGLE_MAPS_API_KEY=
SMS_ENABLED=
SMS_PROVIDER=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
PORT=
